<!DOCTYPE html>
<html lang="ro" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Abonament</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<nav class="navbar">
    <div class="logo">Sala Fitness</div>
</nav>

<main class="content_form">
    <h1 th:text="${abonament.id == null ? 'Adaugă abonament' : 'Update abonament'}"></h1>

    <form th:action="@{/abonamente/save}" th:object="${abonament}" method="post" class="modal-content" style="max-width:560px;">
        <div class="modal-header">
            <h3>Formular abonament</h3>
            <a class="btn btn-ghost" th:href="@{/}" style="text-decoration: none;">✕</a>
        </div>

        <div class="form-grid">
            <input type="hidden" th:field="*{id}"/>

            <div class="full">
                <label>Tip</label>
                <input th:field="*{tipAbonament}">
                <div class="err" th:if="${#fields.hasErrors('tipAbonament')}" th:errors="*{tipAbonament}"></div>
            </div>

            <div>
                <label>Preț</label>
                <input type="text" th:field="*{pret}">
                <div class="err" th:if="${#fields.hasErrors('pret')}" th:errors="*{pret}"></div>
            </div>

            <div>
                <label>Acces sală</label>
                <select th:field="*{accesSalaGrup}">
                    <option value="">— Selectează —</option>
                    <option th:value="true">Da</option>
                    <option th:value="false">Nu</option>
                </select>
                <div class="err"
                     th:if="${#fields.hasErrors('accesSalaGrup')}"
                     th:errors="*{accesSalaGrup}">
                </div>
            </div>

            <div>
                <label>Acces antrenament trainer</label>
                <select th:field="*{accesPersonalTrainer}">
                    <option value="">— Selectează —</option>
                    <option th:value="true">Da</option>
                    <option th:value="false">Nu</option>
                </select>
                <div class="err"
                     th:if="${#fields.hasErrors('accesPersonalTrainer')}"
                     th:errors="*{accesPersonalTrainer}">
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <a class="btn btn-ghost" th:href="@{/}" style="text-decoration: none;">Renunță</a>
            <button class="btn btn-primary" type="submit">Salvează</button>
        </div>
    </form>
</main>

</body>
</html>
